.add-user-dialog {
  /*!*/
}

.add-user-dialog__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  width: 400px;
}

@media screen and (max-width: 767px) {
  .add-user-dialog__form {
    width: auto;
  }
}
