.header-content {
  position: relative;
  display: flex;
  font-display: row;
  justify-self: flex-start;
  align-items: center;
  flex-grow: 1;
}

.header__sort-button {
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  text-align: inherit;
}

.header__sort-button:disabled {
  cursor: initial;
}

.header__sort-button span {
  margin-right: 32px;
}

.header__arrow {
  position: absolute;
  margin-left: 2px;
  flex-shrink: 0;
  flex-grow: 1;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.header__arrow_type_asc {
  transform: translateY(-50%) rotate(180deg);
}

.header__filter {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.header__resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  opacity: 0.3;
  z-index: 200;
}

.header__resizer::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background: rgba(0, 0, 0, 0.5);
}

.header__resizer:hover {
  opacity: 1;
}
