.header {
  /*!*/
}

.header__filter {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.header__resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  opacity: 0.3;
}

.header__resizer::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background: rgba(0, 0, 0, 0.5);
}

.header__resizer:hover {
  opacity: 1;
}
