.table {
  border-collapse: collapse;
  border: 1px solid var(--table-border-color);
  table-layout: fixed;
  width: 100%;
}

.table__body {
  border-bottom: 1px solid var(--table-border-color);
}

.table__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.table__header-content {
  border-bottom: 1px solid var(--table-border-color);
  border-right: 1px solid var(--table-border-color);
  background-color: var(--table-header-background-color);
  text-align: left;
  box-sizing: border-box;
  padding: 2px 4px;
  overflow: hidden;
}

.table__header-content_is-mobile {
  border-right: none;
  text-align: left;
  box-sizing: border-box;
  padding: 2px 4px;
  overflow: hidden;
}

.table__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.table__cell {
  border-bottom: 1px solid var(--table-border-color);
  border-right: 1px solid var(--table-border-color);
  padding: 2px 4px;
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.table__pagination {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.table__mobile-filters {
  display: none;
  flex-direction: column;
  position: relative;
  max-width: 300px;
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .table {
    border: none;
  }

  .table__header {
    display: none;
  }

  .table__row {
    display: block;
    margin-bottom: 20px;
    border: 1px solid var(--table-border-color);
  }

  .table__cell {
    border-right: none;
    min-height: 29px;
    align-items: flex-start;
    justify-content: space-between;
    text-align: right;
  }

  .table__cell:before {
    content: attr(data-label);
    font-weight: 700;
    margin-right: 20px;
    text-align: left;
  }

  .table__cell:last-child {
    border: none;
  }

  .table__mobile-filters {
    display: inline-flex;
    border: 1px solid var(--table-border-color);
    border-bottom: none;
  }
}
