.table {
  border-collapse: collapse;
  border: 1px solid var(--table-border-color);
}

.table__body {
  border-bottom: 1px solid var(--table-border-color);
}

.table__header {
  border-bottom: 1px solid var(--table-border-color);
  border-right: 1px solid var(--table-border-color);
  background-color: var(--table-header-background-color);
  text-align: left;
  box-sizing: border-box;
  padding: 2px 4px;
}

.table__cell {
  border-bottom: 1px solid var(--table-border-color);
  border-right: 1px solid var(--table-border-color);
  padding: 2px 4px;
}

.table__pagination {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
