@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --backgound-color: #fff;

  --table-border-color: #ccc;
  --table-header-background-color: #f3f3f3;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 50px;
  min-width: 320px;
  min-height: 100vh;
}
